body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

.chat__container {
    height: 450px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.topbar {
    text-align: center;
    padding-top: 5px;
    border: 1px solid #ccc
}

.topbar a {
    float: right;
    margin: 0;
    padding-right: 5px;
}

.chat__window {
    flex-grow: 1;
    padding: 100px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.chat__message {
    margin-bottom: 10px;
}

.chat__input {
    display: flex;
    padding: 10px;
    background-color: #eee;
}

.chat__input input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
}

.chat__input button {
    padding: 5px 10px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.chat__input button:hover {
    background-color: #0056b3;
}

.sidebar {
    width: 150px;
    padding: 6px;
    background-color: #a9a8a8;
}

.sidebar h2 {
    font-size: 20px;
    
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}
